<div class="bg-gray-100">
  <div class="page-header min-vh-100">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-9 col-lg-6 z-index-1">
          <div class="card w-100" style="border-radius: 20px;">
            <div class="card-header p-0 position-relative mt-n4 mx-3 mb-n4 z-index-2 bg-transparent">
              <a class="d-block blur-shadow-image shadow p-2 bg-warning text-center" style="border-radius: 20px;">
                <img src="/logo/logo-full-white-nobg.png" alt="img-blur-shadow" class="img-fluid w-40">
              </a>
            </div>
            <div class="card-body p-5 pb-3">
              <div class="text-center mb-2">
                <h3>Welcome Back to Closit</h3>
                <p class="">Enter your credentials to login</p>
              </div>
              <div class="d-flex justify-content-center mb-2">
                <form class="w-70 text-center">
                  <div class="input-group input-group-outline my-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control">
                  </div>
                  <div class="input-group input-group-outline my-3">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control">
                  </div>
                  <button type="button" class="btn bg-gradient-warning w-90">Login</button>
                </form>
              </div>
              <div class="d-flex justify-content-center">
                <div class="w-70">
                  <p class="mb-2 w-100">Problem in login? <a href="" class="text-warning text-bold">Forget Password</a>
                  </p>
                  <p class="w-100">Not registered yet? <a href="" class="text-warning text-bold">Register now</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Background -->
<app-background-image></app-background-image>
