<div class="container">
  <div class="row d-flex justify-content-start mb-4">
    <div class="col-lg-6">
      <div class="card landing-feature-card">
        <div class="card-body">
          <div class="row">
            <div class="col-7">
              <p class="font-weight-bold mt-3 font-black">
                Interactive Tool For Create Clothing Items
              </p>
              <p class="mb-0">
                With this interactive tool you can create and save your clothing items with in the system insted of taking
                photos of every clothing itrm you have and upload them. This tool minimize the time and the information you
                need to provide for the system.
              </p>
            </div>
            <div class="col-5 feature-image-container">
              <img src="/bg/landing-2.png" alt="img-blur-shadow" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-end mb-4">
    <div class="col-lg-6">
      <div class="card landing-feature-card">
        <div class="card-body">
          <div class="row">
            <div class="col-7">
              <p class="font-weight-bold mt-3 font-black">
                Prompt-based Natural Communication
              </p>
              <p class="mb-0">
                With this interactive tool you can create and save your clothing items with in the system insted of taking
                photos of every clothing itrm you have and upload them. This tool minimize the time and the information you
                need to provide for the system.
              </p>
            </div>
            <div class="col-5 feature-image-container">
              <img src="/bg/landing-3.png" alt="img-blur-shadow" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-start mb-4">
    <div class="col-lg-6">
      <div class="card landing-feature-card">
        <div class="card-body">
          <div class="row">
            <div class="col-7">
              <p class="font-weight-bold mt-3 font-black">
                Visual Recommendations
              </p>
              <p class="mb-0">
                With this interactive tool you can create and save your clothing items with in the system insted of taking
                photos of every clothing itrm you have and upload them. This tool minimize the time and the information you
                need to provide for the system.
              </p>
            </div>
            <div class="col-5 feature-image-container">
              <img src="/bg/landing-4.png" alt="img-blur-shadow" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-end">
    <div class="col-lg-6">
      <div class="card landing-feature-card">
        <div class="card-body">
          <div class="row">
            <div class="col-7">
              <p class="font-weight-bold mt-3 font-black">
                Virtual Wardrobe
              </p>
              <p class="mb-0">
                With this interactive tool you can create and save your clothing items with in the system insted of taking
                photos of every clothing itrm you have and upload them. This tool minimize the time and the information you
                need to provide for the system.
              </p>
            </div>
            <div class="col-5 feature-image-container">
              <img src="/bg/landing-1.png" alt="img-blur-shadow" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
