<div class="container">
  <div class="row d-flex justify-content-start">
    <div class="col-lg-5">
      <div class="card">
        <!-- <div class="card-header">
          <img src="https://demos.creative-tim.com/test/material-dashboard-pro/assets/img/products/product-1-min.jpg"
            alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
        </div> -->
        <div class="card-body text-center">
          <h4 class="font-weight-bold mt-3">
            Interactive Tool For Create Clothing Items
          </h4>
          <p class="mb-0">
            With this interactive tool you can create and save your clothing items with in the system insted of taking
            photos of every clothing itrm you have and upload them. This tool minimize the time and the information you
            need to provide for the system.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-end">
    <div class="col-lg-5">
      <div class="card">
        <!-- <div class="card-header">
          <img src="https://demos.creative-tim.com/test/material-dashboard-pro/assets/img/products/product-1-min.jpg"
            alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
        </div> -->
        <div class="card-body text-center">
          <h4 class="font-weight-bold mt-3">
            Interactive Tool For Create Clothing Items
          </h4>
          <p class="mb-0">
            With this interactive tool you can create and save your clothing items with in the system insted of taking
            photos of every clothing itrm you have and upload them. This tool minimize the time and the information you
            need to provide for the system.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-start">
    <div class="col-lg-5">
      <div class="card">
        <!-- <div class="card-header">
          <img src="https://demos.creative-tim.com/test/material-dashboard-pro/assets/img/products/product-1-min.jpg"
            alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
        </div> -->
        <div class="card-body text-center">
          <h4 class="font-weight-bold mt-3">
            Interactive Tool For Create Clothing Items
          </h4>
          <p class="mb-0">
            With this interactive tool you can create and save your clothing items with in the system insted of taking
            photos of every clothing itrm you have and upload them. This tool minimize the time and the information you
            need to provide for the system.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-end">
    <div class="col-lg-5">
      <div class="card">
        <!-- <div class="card-header">
          <img src="https://demos.creative-tim.com/test/material-dashboard-pro/assets/img/products/product-1-min.jpg"
            alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
        </div> -->
        <div class="card-body text-center">
          <h4 class="font-weight-bold mt-3">
            Interactive Tool For Create Clothing Items
          </h4>
          <p class="mb-0">
            With this interactive tool you can create and save your clothing items with in the system insted of taking
            photos of every clothing itrm you have and upload them. This tool minimize the time and the information you
            need to provide for the system.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
