<app-top-nav-bar></app-top-nav-bar>

<div class="container w-100 min-vh-80">
  <div class="row w-100 min-vh-80 d-flex align-items-center justify-content-center">
    <div class="col-10">
      <div class="w-100">
        <div class="input-group input-group-outline my-3 z-index-fixed shadow bg-body rounded">
          <textarea class="form-control" rows="2" placeholder="Suggestions what to wear for a birthday party ........." spellcheck="false"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
