.prompt-field-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  &.with-result {
    display: block;
  }

  .prompt-field-row {
    justify-content: center !important;
  }
}

.result-container {
  background: #ffffff;
  border-radius: 12px;
  // border: 0.5px solid #ff932e;
  box-shadow: 0 0 10px rgba(255, 144, 40, 0.266);
}

.text-area {
  resize: none;
}
