.prompt-field-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  &.with-result {
    display: block;
  }

  .prompt-field-row {
    justify-content: center !important;
  }
}

.result-container {
  background: #8080803b;
  border-radius: 20px;
}
