<div class="container">
  <div class="row">
    <div class="col-12">
      <nav
        class="navbar navbar-expand-lg blur border-radius-xl top-0 z-index-fixed shadow my-3 py-2 start-0 end-0 mx-4">
        <div class="container-fluid px-0">
          <a class="navbar-brand font-weight-bolder ms-sm-3 d-none d-md-block" href="#" rel="tooltip"
            title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
            Closit
          </a>
          <a class="navbar-brand font-weight-bolder ms-sm-3 d-block d-md-none" href="#" rel="tooltip"
            title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
            Closit
          </a>
          <button class="navbar-toggler shadow-none ms-2 ms-md-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon mt-2">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </span>
          </button>
          <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
            <ul class="navbar-nav navbar-nav-hover m-auto">
              <li class="nav-item d-flex align-items-center mx-2">
                <a href="#components" role="button" class="nav-link ps-2 d-flex cursor-pointer align-items-center">
                  Wardrobe
                </a>
              </li>
              <li class="nav-item d-flex align-items-center mx-2">
                <a href="#blocks" role="button" class="nav-link ps-2 d-flex cursor-pointer align-items-center">
                  Customizer
                </a>
              </li>
            </ul>
            <ul class="navbar-nav justify-content-end">
              <!-- <li class="nav-item">
                <a href="javascript:;" class="nav-link text-body p-0 position-relative">
                  <i class="material-symbols-outlined">
                    account_circle
                  </i>
                </a>
              </li> -->
              <li class="nav-item dropdown mx-2">
                <a href="#" class="nav-link text-body p-0 position-relative" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false" (click)="profileDropdownToggle()">
                  <i class="material-symbols-outlined cursor-pointer">
                    account_circle
                  </i>
                </a>
                @if (isProfileDropdownShow) {
                <ul class="dropdown-menu dropdown-menu-end p-2 me-sm-n4 show">
                  <li class="mb-2">
                    <a class="dropdown-item border-radius-md" href="javascript:;">
                      <div class="d-flex align-items-center py-1">
                        <div class="my-auto">
                          <span class="material-symbols-outlined">
                            settings
                          </span>
                        </div>
                        <div class="ms-2">
                          <h6 class="text-sm font-weight-normal mb-0">
                            Profile Settings
                          </h6>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="mb-2">
                    <a class="dropdown-item border-radius-md" href="javascript:;">
                      <div class="d-flex align-items-center py-1">
                        <div class="my-auto">
                          <span class="material-symbols-outlined">
                            logout
                          </span>
                        </div>
                        <div class="ms-2">
                          <h6 class="text-sm font-weight-normal mb-0">
                            Logout
                          </h6>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
                }
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
    </div>
  </div>
</div>
