<app-top-nav-bar></app-top-nav-bar>

<div class="container w-100 mt-2">
  @if (categoryList.length > 0) {
    <div class="category-container mx-4">
      <div class="main-category d-flex flex-row justify-content-between">
        @for (category of categoryList; track $index) {
          <div class="category p-3 rounded-circle cursor-pointer" [class.active]="selectedCategory === category" (click)="categorySelect(category)">
            <img [src]="category.img">
          </div>
        }
      </div>
      @if (selectedCategory) {
        <div class="sub-category mt-3 d-flex flex-row gap-3">
          @for (subCategory of selectedCategory.sub; track $index) {
            <div class="category ps-3 pe-3 pt-2 pb-2 rounded-3 cursor-pointer" [class.active]="selectedSubCategory === subCategory" (click)="subCategorySelect(subCategory)">
              <p class="mb-0">{{ subCategory }}</p>
            </div>
          }
        </div>
      }
    </div>
  }
  @if (selectedCategory.category == '') {
    <div class="bg-white p-3 m-auto rounded-3 w-50 mt-6 d-flex justify-content-center align-content-center">
      <p class="mb-0">... Select a clothing category to continue...</p>
    </div>
  }
  @if (selectedCategory.category != '' && selectedSubCategory == '') {
    <div class="bg-white p-3 m-auto rounded-3 w-50 mt-6 d-flex justify-content-center align-content-center">
      <p class="mb-0">... Select a sub clothing category to continue...</p>
    </div>
  }
  @if (selectedSubCategory) {
    <div class="row mt-3">
      <div class="col-md-6 justify-content-center clothing-container">
        @switch (selectedSubCategory) {
          @case ('Long Sleeve T-Shirt') {
            <app-t-shirt-long-sleeve [clothColor]="selectedColor"></app-t-shirt-long-sleeve>
          }
          @case ('Short Sleeve T-Shirt') {
            <app-t-shirt-short-sleeve [clothColor]="selectedColor"></app-t-shirt-short-sleeve>
          }
          @case ('Long Sleeve Shirt') {
            <app-shirt-long-sleeve [clothColor]="selectedColor"></app-shirt-long-sleeve>
          }
          @case ('Short Sleeve Shirt') {
            <app-shirt-short-sleeve [clothColor]="selectedColor"></app-shirt-short-sleeve>
          }
          @case ('Jean') {
            <app-jeans [clothColor]="selectedColor"></app-jeans>
          }
          @case ('Trouser') {
            <app-trouser [clothColor]="selectedColor"></app-trouser>
          }
          @case ('Hoodie') {
            <app-hoodie [clothColor]="selectedColor"></app-hoodie>
          }
          @case ('Short') {
            <app-shorts [clothColor]="selectedColor"></app-shorts>
          }
          @case ('Leather Shoes') {
            <app-leather-shoes [clothColor]="selectedColor"></app-leather-shoes>
          }
          @case ('Casual Shoes') {
            <app-casual-shoes [clothColor]="selectedColor"></app-casual-shoes>
          }
        }
      </div>
      <div class="col-md-6">
        @if (fixedColorList.length > 0) {
          <div class="color-container">
            <p class="font-weight-bold font-black text-3xl mb-2">
              Select Color
            </p>
            <div class="fixed-colors d-flex flex-row gap-4">
              @for (color of fixedColorList; track $index) {
                <div class="color rounded-3 cursor-pointer" [ngStyle]="{'background-color': color}" (click)="selectFixedColors(color)"></div>
              }
            </div>
            <div class="color-picker mt-2">
              <p class="font-weight-bold font-black mb-1">
                Select from color picker
              </p>
              <input type="color" id="favcolor" value="#ff0000" [(ngModel)]="selectedInputColor" (ngModelChange)="selectFixedColors()">
            </div>
          </div>
        }
        @if (materialList.length > 0) {
          <div class="material-container mt-2">
            <p class="font-weight-bold font-black text-3xl mb-2">
              Select Material
            </p>
            <div class="input-group input-group-outline w-50">
              <select class="form-control bg-white material-select" id="materialSelect" [(ngModel)]="selectedMaterial">
                <option selected value="0">~ Materials ~</option>
                @for (material of materialList; track $index) {
                  <option [value]="material">{{ material }}</option>
                }
              </select>
            </div>
          </div>
        }
        @if (fixedColorList.length > 0) {
          <div class="w-100 mt-4">
            <a type="button" class="btn bg-gradient-warning mb-1" (click)="saveClothingItem()">
              Save Clothing Item
            </a>
          </div>
        }
        @if (isSuccess || isError) {
          <div class="w-100 mt-1 alert" role="alert" [class.alert-danger]="isError" [class.alert-success]="isSuccess">
            <span>{{ message }}</span>
          </div>
        }
      </div>
    </div>
  }
</div>
