<div class="page-header min-vh-100">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-lg-8 z-index-1">
        <div class="card w-100" data-animation="true">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 min-vh-50 d-flex justify-items-center align-items-center">
                <div class="p-2">
                  <h1>Closit</h1>
                  <p class="text-lg mt-3">Your smart outfit guide partner. Join now and experience the smart way to
                    select a
                    outfit.</p>
                  <div class="d-flex align-items-center mb-4">
                    <div class="avatar-group">
                      <a href="javascript:;" class="avatar avatar-sm rounded-circle" data-bs-toggle="tooltip"
                        data-bs-placement="bottom" aria-label="Martin Doe" data-bs-original-title="Martin Doe">
                        <img alt="Image placeholder"
                          src="https://demos.creative-tim.com/material-dashboard-pro/assets/img/bruce-mars.jpg">
                      </a>
                      <a href="javascript:;" class="avatar avatar-sm rounded-circle" data-bs-toggle="tooltip"
                        data-bs-placement="bottom" aria-label="Romina Hadid" data-bs-original-title="Romina Hadid">
                        <img alt="Image placeholder"
                          src="https://demos.creative-tim.com/material-dashboard-pro/assets/img/team-5.jpg">
                      </a>
                      <a href="javascript:;" class="avatar avatar-sm rounded-circle" data-bs-toggle="tooltip"
                        data-bs-placement="bottom" aria-label="Alexa Tompson" data-bs-original-title="Alexa Tompson">
                        <img alt="Image placeholder"
                          src="https://demos.creative-tim.com/material-dashboard-pro/assets/img/team-3.jpg">
                      </a>
                    </div>
                    <p class="mb-0 ms-2">Join 300,000+ Users</p>
                  </div>
                  <div class="d-block d-md-flex align-items-center">
                    <a href="https://github.com/creativetimofficial/material-dashboard" target="_blank"
                      class="btn w-100 w-md-auto btn-warning">Register Now</a>
                      <p class="mx-2">or</p>
                      <a href="https://github.com/creativetimofficial/material-dashboard" target="_blank"
                      class="btn w-100 w-md-auto btn-warning">Login</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 min-vh-50">
                <div class="card-header p-0 position-relative mt-n4 z-index-2">
                  <a class="d-block blur-shadow-image">
                    <img src="/bg/bg-01.png" alt="img-blur-shadow"
                      class="img-fluid shadow border-radius-lg min-vh-50 w-100 object-fit-cover">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
